.prettierignore
.dockerignore
.eslintignore
.editorconfig
*.webmanifest
.prettierrc
Dockerfile
.gitignore
.eslintrc
configs/
.husky
*.html
*.yaml
*.json
*.conf
*.jpeg
*.yml
*.txt
*.ico
*.jpg
*.png
*.css
*.gif
*.pdf
*.md
.env
*.sh
